<a href="https://colab.research.google.com/github/CaQtiml/DeepLearning_Practice/blob/main/Dinosaur_Name_Generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Start

In [ ]:
# Check for GPU
!nvidia-smi -L

GPU 0: Tesla K80 (UUID: GPU-28452d29-fc7c-127f-174a-f73c5c0a1dde)

In [ ]:
import pandas as pd
import random
import numpy as np
from sklearn.model_selection import train_test_split
import string

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Conv1D, MaxPool1D, LSTM, GRU, TimeDistributed, Bidirectional, Dense

In [ ]:
data = open('dinos.txt', 'r').read()
data= data.lower()
chars = list(set(data))
data_size, vocab_size = len(data), len(chars)
print('There are %d total characters and %d unique characters in your data.' % (data_size, vocab_size))

There are 19909 total characters and 27 unique characters in your data.

In [ ]:
data

'aachenosaurus\naardonyx\nabdallahsaurus\nabelisaurus\nabrictosaurus\nabrosaurus\nabydosaurus\nacanthopholis\nachelousaurus\nacheroraptor\nachillesaurus\nachillobator\nacristavus\nacrocanthosaurus\nacrotholus\nactiosaurus\nadamantisaurus\nadasaurus\nadelolophus\nadeopapposaurus\naegyptosaurus\naeolosaurus\naepisaurus\naepyornithomimus\naerosteon\naetonyxafromimus\nafrovenator\nagathaumas\naggiosaurus\nagilisaurus\nagnosphitys\nagrosaurus\nagujaceratops\nagustinia\nahshislepelta\nairakoraptor\najancingenia\najkaceratops\nalamosaurus\nalaskacephale\nalbalophosaurus\nalbertaceratops\nalbertadromeus\nalbertavenator\nalbertonykus\nalbertosaurus\nalbinykus\nalbisaurus\nalcovasaurus\nalectrosaurus\naletopelta\nalgoasaurus\nalioramus\naliwalia\nallosaurus\nalmas\nalnashetri\nalocodon\naltirhinus\naltispinax\nalvarezsaurus\nalwalkeria\nalxasaurus\namargasaurus\namargastegos\namargatitanis\namazonsaurus\nammosaurus\nampelosaurus\namphicoelias\namphicoelicaudia\namphisaurus\namtocephale\namtosaurus\namurosaurus\namygdalodon\nanabisetia\nanasazisaurus\nanatosaurus\nanatotitan\nanchiceratops\nanchiornis\nanchisaurus\nandesaurus\nandhrasaurus\nangaturama\nangloposeidon\nangolatitan\nangulomastacator\naniksosaurus\nanimantarx\nankistrodon\nankylosaurus\nanodontosaurus\nanoplosaurus\nanserimimus\nantarctopelta\nantarctosaurus\nantetonitrus\nanthodon\nantrodemus\nanzu\naoniraptor\naorun\napatodon\napatoraptor\napatosaurus\nappalachiosaurus\naquilops\naragosaurus\naralosaurus\naraucanoraptor\narchaeoceratops\narchaeodontosaurus\narchaeopteryx\narchaeoraptor\narchaeornis\narchaeornithoides\narchaeornithomimus\narcovenator\narctosaurus\narcusaurus\narenysaurus\nargentinosaurus\nargyrosaurus\naristosaurus\naristosuchus\narizonasaurus\narkansaurus\narkharavia\narrhinoceratops\narstanosaurus\nasiaceratops\nasiamericana\nasiatosaurus\nastrodon\nastrodonius\nastrodontaurus\nastrophocaudia\nasylosaurus\natacamatitan\natlantosaurus\natlasaurus\natlascopcosaurus\natrociraptor\natsinganosaurus\naublysodon\naucasaurus\naugustia\naugustynolophus\nauroraceratops\naurornis\naustralodocus\naustralovenator\naustrocheirus\naustroposeidon\naustroraptor\naustrosaurus\navaceratops\navalonia\navalonianus\naviatyrannis\navimimus\navisaurus\navipes\nazendohsaurus\nbactrosaurus\nbagaceratops\nbagaraatan\nbahariasaurus\nbainoceratops\nbakesaurus\nbalaur\nbalochisaurus\nbambiraptor\nbanji\nbaotianmansaurus\nbarapasaurus\nbarilium\nbarosaurus\nbarrosasaurus\nbarsboldia\nbaryonyx\nbashunosaurus\nbasutodon\nbathygnathus\nbatyrosaurus\nbaurutitan\nbayosaurus\nbecklespinax\nbeelemodon\nbeibeilong\nbeipiaognathus\nbeipiaosaurus\nbeishanlong\nbellusaurus\nbelodon\nberberosaurus\nbetasuchus\nbicentenaria\nbienosaurus\nbihariosaurus\nbilbeyhallorum\nbissektipelta\nbistahieversor\nblancocerosaurus\nblasisaurus\nblikanasaurus\nbolong\nbonapartenykus\nbonapartesaurus\nbonatitan\nbonitasaura\nborealopelta\nborealosaurus\nboreonykus\nborogovia\nbothriospondylus\nbrachiosaurus\nbrachyceratops\nbrachylophosaurus\nbrachypodosaurus\nbrachyrophus\nbrachytaenius\nbrachytrachelopan\nbradycneme\nbrasileosaurus\nbrasilotitan\nbravoceratops\nbreviceratops\nbrohisaurus\nbrontomerus\nbrontoraptor\nbrontosaurus\nbruhathkayosaurus\nbugenasaura\nbuitreraptor\nburianosaurus\nburiolestes\nbyranjaffia\nbyronosaurus\ncaenagnathasia\ncaenagnathus\ncalamosaurus\ncalamospondylus\ncalamospondylus\ncallovosaurus\ncamarasaurus\ncamarillasaurus\ncamelotia\ncamposaurus\ncamptonotus\ncamptosaurus\ncampylodon\ncampylodoniscus\ncanardia\ncapitalsaurus\ncarcharodontosaurus\ncardiodon\ncarnotaurus\ncaseosaurus\ncathartesaura\ncathetosaurus\ncaudipteryx\ncaudocoelus\ncaulodon\ncedarosaurus\ncedarpelta\ncedrorestes\ncentemodon\ncentrosaurus\ncerasinops\nceratonykus\nceratops\nceratosaurus\ncetiosauriscus\ncetiosaurus\nchangchunsaurus\nchangdusaurus\nchangyuraptor\nchaoyangsaurus\ncharonosaurus\nchasmosaurus\nchassternbergia\nchebsaurus\nchenanisaurus\ncheneosaurus\nchialingosaurus\nchiayusaurus\nchienkosaurus\nchihuahuasaurus\nchilantaisaurus\nchilesaurus\nchindesaurus\nchingkankousaurus\nchinshakiangosaurus\nchirostenotes\nchoconsaurus\nchondrosteosaurus\nchromogisaurus\nchuandongocoelurus\nchuanjiesaurus\nchuanqilong\nchubutisaurus\nchungkingosaurus\nchuxiongosaurus\ncinizasaurus\ncionodon\ncitipati\ncladeiodon\nclaorhynchus\nclaosaurus\nclarencea\nclasmodosaurus\nclepsysaurus\ncoahuilaceratops\ncoelophysis\ncoelosaurus\ncoeluroides\ncoelurosauravus\ncoelurus\ncolepiocephale\ncoloradia\ncoloradisaurus\ncolossosaurus\ncomahuesaurus\ncomanchesaurus\ncompsognathus\ncompsosuchus\nconcavenator\nconchoraptor\ncondorraptor\ncoronosaurus\ncorythoraptor\ncorythosaurus\ncraspedodon\ncrataeomus\ncraterosaurus\ncreosaurus\ncrichtonpelta\ncrichtonsaurus\ncristatusaurus\ncrosbysaurus\ncruxicheiros\ncryolophosaurus\ncryptodraco\ncryptoraptor\ncryptosaurus\ncryptovolans\ncumnoria\ndaanosaurus\ndacentrurus\ndachongosaurus\ndaemonosaurus\ndahalokely\ndakosaurus\ndakotadon\ndakotaraptor\ndaliansaurus\ndamalasaurus\ndandakosaurus\ndanubiosaurus\ndaptosaurus\ndarwinsaurus\ndashanpusaurus\ndaspletosaurus\ndasygnathoides\ndasygnathus\ndatanglong\ndatonglong\ndatousaurus\ndaurosaurus\ndaxiatitan\ndeinocheirus\ndeinodon\ndeinonychus\ndelapparentia\ndeltadromeus\ndemandasaurus\ndenversaurus\ndeuterosaurus\ndiabloceratops\ndiamantinasaurus\ndianchungosaurus\ndiceratops\ndiceratusdiclonius\ndicraeosaurus\ndidanodondilong\ndilophosaurus\ndiluvicursor\ndimodosaurus\ndinheirosaurus\ndinodocus\ndinotyrannus\ndiplodocus\ndiplotomodon\ndiracodon\ndolichosuchus\ndollodon\ndomeykosaurus\ndongbeititan\ndongyangopelta\ndongyangosaurus\ndoratodon\ndoryphorosaurus\ndraconyx\ndracopelta\ndracoraptor\ndracorex\ndracovenator\ndravidosaurus\ndreadnoughtus\ndrinker\ndromaeosauroides\ndromaeosaurus\ndromiceiomimus\ndromicosaurus\ndrusilasaura\ndryosaurus\ndryptosauroides\ndryptosaurus\ndubreuillosaurus\nduriatitan\nduriavenator\ndynamosaurus\ndyoplosaurus\ndysalotosaurus\ndysganus\ndyslocosaurus\ndystrophaeus\ndystylosaurus\nechinodon\nedmarka\nedmontonia\nedmontosaurus\nefraasia\neiniosaurus\nekrixinatosaurus\nelachistosuchus\nelaltitan\nelaphrosaurus\nelmisaurus\nelopteryx\nelosaurus\nelrhazosaurus\nelvisaurus\nemausaurus\nembasaurus\nenigmosaurus\neoabelisaurus\neobrontosaurus\neocarcharia\neoceratops\neocursor\neodromaeus\neohadrosaurus\neolambia\neomamenchisaurus\neoplophysis\neoraptor\neosinopteryx\neotrachodon\neotriceratops\neotyrannus\neousdryosaurus\nepachthosaurus\nepanterias\nephoenosaurus\nepicampodon\nepichirostenotes\nepidendrosaurus\nepidexipteryx\nequijubus\nerectopus\nerketu\nerliansaurus\nerlikosaurus\neshanosaurus\neuacanthus\neucamerotus\neucentrosaurus\neucercosaurus\neucnemesaurus\neucoelophysis\neugongbusaurus\neuhelopus\neuoplocephalus\neupodosaurus\neureodon\neurolimnornis\neuronychodon\neuropasaurus\neuropatitan\neuropelta\neuskelosaurus\neustreptospondylus\nfabrosaurus\nfalcarius\nfendusaurus\nfenestrosaurus\nferganasaurus\nferganastegos\nferganocephale\nforaminacephale\nfosterovenator\nfrenguellisaurus\nfruitadens\nfukuiraptor\nfukuisaurus\nfukuititan\nfukuivenator\nfulengia\nfulgurotherium\nfusinasus\nfusuisaurus\nfutabasaurus\nfutalognkosaurus\ngadolosaurus\ngaleamopus\ngalesaurus\ngallimimus\ngaltonia\ngalveosaurus\ngalvesaurus\ngannansaurus\ngansutitan\nganzhousaurus\ngargoyleosaurus\ngarudimimus\ngasosaurus\ngasparinisaura\ngastonia\ngavinosaurus\ngeminiraptor\ngenusaurus\ngenyodectes\ngeranosaurus\ngideonmantellia\ngiganotosaurus\ngigantoraptor\ngigantosaurus\ngigantosaurus\ngigantoscelus\ngigantspinosaurus\ngilmoreosaurus\nginnareemimus\ngiraffatitan\nglacialisaurus\nglishades\nglyptodontopelta\nskeleton\ngobiceratops\ngobisaurus\ngobititan\ngobivenator\ngodzillasaurus\ngojirasaurus\ngondwanatitan\ngongbusaurus\ngongpoquansaurus\ngongxianosaurus\ngorgosaurus\ngoyocephale\ngraciliceratops\ngraciliraptor\ngracilisuchus\ngravitholus\ngresslyosaurus\ngriphornis\ngriphosaurus\ngryphoceratops\ngryponyx\ngryposaurus\ngspsaurus\nguaibasaurus\ngualicho\nguanlong\ngwyneddosaurus\ngyposaurus\nhadrosauravus\nhadrosaurus\nhaestasaurus\nhagryphus\nhallopus\nhalszkaraptor\nhalticosaurus\nhanssuesia\nhanwulosaurus\nhaplocanthosaurus\nhaplocanthus\nhaplocheirus\nharpymimus\nhaya\nhecatasaurus\nheilongjiangosaurus\nheishansaurus\nhelioceratops\nhelopus\nheptasteornis\nherbstosaurus\nherrerasaurus\nhesperonychus\nhesperosaurus\nheterodontosaurus\nheterosaurus\nhexing\nhexinlusaurus\nheyuannia\nhierosaurus\nhippodraco\nhironosaurus\nhisanohamasaurus\nhistriasaurus\nhomalocephale\nhonghesaurus\nhongshanosaurus\nhoplitosaurus\nhoplosaurus\nhorshamosaurus\nhortalotarsus\nhuabeisaurus\nhualianceratops\nhuanansaurus\nhuanghetitan\nhuangshanlong\nhuaxiagnathus\nhuaxiaosaurus\nhuaxiasaurus\nhuayangosaurus\nhudiesaurus\nhuehuecanauhtlus\nhulsanpes\nhungarosaurus\nhuxleysaurus\nhylaeosaurus\nhylosaurushypacrosaurus\nhypselorhachis\nhypselosaurus\nhypselospinus\nhypsibema\nhypsilophodon\nhypsirhophus\nhabodcraniosaurus\nichthyovenator\nignavusaurus\niguanacolossus\niguanodon\niguanoides\nskeleton\niguanosaurus\niliosuchus\nilokelesia\nincisivosaurus\nindosaurus\nindosuchus\ningenia\ninosaurus\nirritator\nisaberrysaura\nisanosaurus\nischioceratops\nischisaurus\nischyrosaurus\nisisaurus\nissasaurus\nitemirus\niuticosaurus\njainosaurus\njaklapallisaurus\njanenschia\njaxartosaurus\njeholosaurus\njenghizkhan\njensenosaurus\njeyawati\njianchangosaurus\njiangjunmiaosaurus\njiangjunosaurus\njiangshanosaurus\njiangxisaurus\njianianhualong\njinfengopteryx\njingshanosaurus\njintasaurus\njinzhousaurus\njiutaisaurus\njobaria\njubbulpuria\njudiceratops\njurapteryx\njurassosaurus\njuratyrant\njuravenator\nkagasaurus\nkaijiangosaurus\nkakuru\nkangnasaurus\nkarongasaurus\nkatepensaurus\nkatsuyamasaurus\nkayentavenator\nkazaklambia\nkelmayisaurus\nkemkemiakentrosaurus\nkentrurosaurus\nkerberosaurus\nkentrosaurus\nkhaan\nkhetranisaurus\nkileskus\nkinnareemimus\nkitadanisaurus\nkittysaurus\nklamelisauruskol\nkoparion\nkoreaceratops\nkoreanosaurus\nkoreanosaurus\nkoshisaurus\nkosmoceratops\nkotasaurus\nkoutalisaurus\nkritosaurus\nkryptops\nkrzyzanowskisaurus\nkukufeldia\nkulceratops\nkulindadromeus\nkulindapteryx\nkunbarrasaurus\nkundurosaurus\nkunmingosaurus\nkuszholia\nlabocania\nlabrosaurus\nlaelaps\nlaevisuchus\nlagerpeton\nlagosuchus\nlaiyangosaurus\nlamaceratops\nlambeosaurus\nlametasaurus\nlamplughsaura\nlanasaurus\nlancangosaurus\nlancanjiangosaurus\nlanzhousaurus\nlaosaurus\nlapampasaurus\nlaplatasaurus\nlapparentosaurus\nlaquintasaura\nlatenivenatrix\nlatirhinus\nleaellynasaura\nleinkupal\nleipsanosaurus\nlengosaurus\nleonerasaurus\nlepidocheirosaurus\nlepidus\nleptoceratops\nleptorhynchos\nleptospondylus\nleshansaurus\nlesothosaurus\nlessemsaurus\nlevnesovia\nlewisuchus\nlexovisaurus\nleyesaurus\nliaoceratops\nliaoningosaurus\nliaoningtitan\nliaoningvenator\nliassaurus\nlibycosaurus\nligabueino\nligabuesaurus\nligomasaurus\nlikhoelesaurus\nliliensternus\nlimaysaurus\nlimnornis\nlimnosaurus\nlimusaurus\nlinhenykus\nlinheraptor\nlinhevenator\nlirainosaurus\nlisboasaurusliubangosaurus\nlohuecotitan\nloncosaurus\nlongisquama\nlongosaurus\nlophorhothon\nlophostropheus\nloricatosaurus\nloricosaurus\nlosillasaurus\nlourinhanosaurus\nlourinhasaurus\nluanchuanraptor\nluanpingosaurus\nlucianosaurus\nlucianovenator\nlufengosaurus\nlukousaurus\nluoyanggia\nlurdusaurus\nlusitanosaurus\nlusotitan\nlycorhinus\nlythronax\nmacelognathus\nmachairasaurus\nmachairoceratops\nmacrodontophion\nmacrogryphosaurus\nmacrophalangia\nmacroscelosaurus\nmacrurosaurus\nmadsenius\nmagnapaulia\nmagnamanus\nmagnirostris\nmagnosaurus\nmagulodon\nmagyarosaurus\nmahakala\nmaiasaura\nmajungasaurus\nmajungatholus\nmalarguesaurus\nmalawisaurus\nmaleevosaurus\nmaleevus\nmamenchisaurus\nmanidens\nmandschurosaurus\nmanospondylus\nmantellisaurus\nmantellodon\nmapusaurus\nmarasuchus\nmarisaurus\nmarmarospondylus\nmarshosaurus\nmartharaptor\nmasiakasaurus\nmassospondylus\nmatheronodon\nmaxakalisaurus\nmedusaceratops\nmegacervixosaurus\nmegadactylus\nmegadontosaurus\nmegalosaurus\nmegapnosaurus\nmegaraptor\nmei\nmelanorosaurus\nmendozasaurus\nmercuriceratops\nmeroktenos\nmetriacanthosaurus\nmicrocephale\nmicroceratops\nmicroceratus\nmicrocoelus\nmicrodontosaurus\nmicrohadrosaurus\nmicropachycephalosaurus\nmicroraptor\nmicrovenator\nmierasaurus\nmifunesaurus\nminmi\nminotaurasaurus\nmiragaia\nmirischia\nmoabosaurus\nmochlodon\nmohammadisaurus\nmojoceratops\nmongolosaurus\nmonkonosaurus\nmonoclonius\nmonolophosaurus\nmononychus\nmononykus\nmontanoceratops\nmorelladon\nmorinosaurus\nmorosaurus\nmorrosaurus\nmosaiceratops\nmoshisaurus\nmtapaiasaurus\nmtotosaurus\nmurusraptor\nmussaurus\nmuttaburrasaurus\nmuyelensaurus\nmymoorapelta\nnaashoibitosaurus\nnambalia\nnankangia\nnanningosaurus\nnanosaurus\nnanotyrannus\nnanshiungosaurus\nnanuqsaurus\nnanyangosaurus\nnarambuenatitan\nnasutoceratops\nnatronasaurus\nnebulasaurus\nnectosaurus\nnedcolbertia\nnedoceratops\nneimongosaurus\nnemegtia\nnemegtomaia\nnemegtosaurus\nneosaurus\nneosodon\nneovenator\nneuquenraptor\nneuquensaurus\nnewtonsaurus\nngexisaurus\nnicksaurus\nnigersaurus\nningyuansaurus\nniobrarasaurus\nnipponosaurus\nnoasaurus\nnodocephalosaurus\nnodosaurus\nnomingia\nnopcsaspondylus\nnormanniasaurus\nnothronychus\nnotoceratops\nnotocolossus\nnotohypsilophodon\nnqwebasaurus\nnteregosaurus\nnurosaurus\nnuthetes\nnyasasaurus\nnyororosaurus\nohmdenosaurus\nojoceratops\nojoraptorsaurus\noligosaurus\nolorotitan\nomeisaurus\nomosaurus\nonychosaurus\noohkotokia\nopisthocoelicaudia\noplosaurus\norcomimus\norinosaurusorkoraptor\nornatotholusornithodesmus\nornithoides\nornitholestes\nornithomerus\nornithomimoides\nornithomimus\nornithopsis\nornithosuchus\nornithotarsus\norodromeus\norosaurus\northogoniosaurus\northomerus\noryctodromeus\noshanosaurus\nosmakasaurus\nostafrikasaurus\nostromia\nothnielia\nothnielosaurus\notogosaurus\nouranosaurus\noverosaurus\noviraptor\novoraptor\nowenodon\noxalaia\nozraptor\npachycephalosaurus\npachyrhinosaurus\npachysauriscus\npachysaurops\npachysaurus\npachyspondylus\npachysuchus\npadillasaurus\npakisaurus\npalaeoctonus\npalaeocursornis\npalaeolimnornis\npalaeopteryx\npalaeosauriscus\npalaeosaurus\npalaeosaurus\npalaeoscincus\npaleosaurus\npaludititan\npaluxysaurus\npampadromaeus\npamparaptor\npanamericansaurus\npandoravenator\npanguraptor\npanoplosaurus\npanphagia\npantydraco\nparaiguanodon\nparalititan\nparanthodon\npararhabdodon\nparasaurolophus\npareiasaurus\nparksosaurus\nparonychodon\nparrosaurus\nparvicursor\npatagonykus\npatagosaurus\npatagotitan\npawpawsaurus\npectinodon\npedopenna\npegomastax\npeishansaurus\npekinosaurus\npelecanimimus\npellegrinisaurus\npeloroplites\npelorosaurus\npeltosaurus\npenelopognathus\npentaceratops\npetrobrasaurus\nphaedrolosaurus\nphilovenator\nphuwiangosaurus\nphyllodon\npiatnitzkysaurus\npicrodon\npinacosaurus\npisanosaurus\npitekunsaurus\npiveteausaurus\nplanicoxa\nplateosauravus\nplateosaurus\nplatyceratops\nplesiohadros\npleurocoelus\npleuropeltus\npneumatoarthrus\npneumatoraptor\npodokesaurus\npoekilopleuron\npolacanthoides\npolacanthus\npolyodontosaurus\npolyonax\nponerosteus\npoposaurus\nparasaurolophus\npostosuchus\npowellvenator\npradhania\nprenocephale\nprenoceratops\npriconodon\npriodontognathus\nproa\nprobactrosaurus\nprobrachylophosaurus\nproceratops\nproceratosaurus\nprocerosaurus\nprocerosaurus\nprocheneosaurus\nprocompsognathus\nprodeinodon\nproiguanodon\npropanoplosaurus\nproplanicoxa\nprosaurolophus\nprotarchaeopteryx\nprotecovasaurus\nprotiguanodon\nprotoavis\nprotoceratops\nprotognathosaurus\nprotognathus\nprotohadros\nprotorosaurus\nprotorosaurus\nprotrachodon\nproyandusaurus\npseudolagosuchus\npsittacosaurus\npteropelyx\npterospondylus\npuertasaurus\npukyongosaurus\npulanesaura\npycnonemosaurus\npyroraptor\nqantassaurus\nqianzhousaurus\nqiaowanlong\nqijianglong\nqinlingosaurus\nqingxiusaurus\nqiupalong\nquaesitosaurus\nquetecsaurus\nquilmesaurus\nrachitrema\nrahiolisaurus\nrahona\nrahonavis\nrajasaurus\nrapator\nrapetosaurus\nraptorex\nratchasimasaurus\nrativates\nrayososaurus\nrazanandrongobe\nrebbachisaurus\nregaliceratops\nregnosaurus\nrevueltosaurus\nrhabdodon\nrhadinosaurus\nrhinorex\nrhodanosaurus\nrhoetosaurus\nrhopalodon\nriabininohadros\nrichardoestesia\nrileya\nrileyasuchus\nrinchenia\nrinconsaurus\nrioarribasaurus\nriodevasaurus\nriojasaurus\nriojasuchus\nrocasaurus\nroccosaurus\nrubeosaurus\nruehleia\nrugocaudia\nrugops\nrukwatitan\nruyangosaurus\nsacisaurus\nsahaliyania\nsaichania\nsaldamosaurus\nsalimosaurus\nsaltasaurus\nsaltopus\nsaltriosaurus\nsanchusaurus\nsangonghesaurus\nsanjuansaurus\nsanpasaurus\nsantanaraptor\nsaraikimasoom\nsarahsaurus\nsarcolestes\nsarcosaurus\nsarmientosaurus\nsaturnalia\nsauraechinodon\nsaurolophus\nsauroniops\nsauropelta\nsaurophaganax\nsaurophagus\nsauroplites\nsauroposeidon\nsaurornithoides\nsaurornitholestes\nsavannasaurus\nscansoriopteryx\nscaphonyx\nscelidosaurus\nscipionyx\nsciurumimus\nscleromochlus\nscolosaurus\nscutellosaurus\nsecernosaurus\nsefapanosaurus\nsegisaurus\nsegnosaurus\nseismosaurus\nseitaad\nselimanosaurus\nsellacoxa\nsellosaurus\nserendipaceratops\nserikornis\nshamosaurus\nshanag\nshanshanosaurus\nshantungosaurus\nshanxia\nshanyangosaurus\nshaochilong\nshenzhousaurus\nshidaisaurus\nshingopana\nshixinggia\nshuangbaisaurus\nshuangmiaosaurus\nshunosaurus\nshuvosaurus\nshuvuuia\nsiamodon\nsiamodracon\nsiamosaurus\nsiamotyrannus\nsiats\nsibirosaurus\nsibirotitan\nsidormimus\nsigilmassasaurus\nsilesaurus\nsiluosaurus\nsilvisaurus\nsimilicaudipteryx\nsinocalliopteryx\nsinoceratops\nsinocoelurus\nsinopelta\nsinopeltosaurus\nsinornithoides\nsinornithomimus\nsinornithosaurus\nsinosauropteryx\nsinosaurus\nsinotyrannus\nsinovenator\nsinraptor\nsinusonasus\nsirindhorna\nskorpiovenator\nsmilodon\nsonidosaurus\nsonorasaurus\nsoriatitan\nsphaerotholus\nsphenosaurus\nsphenospondylus\nspiclypeus\nspinophorosaurus\nspinops\nspinosaurus\nspinostropheus\nspinosuchus\nspondylosoma\nsqualodon\nstaurikosaurus\nstegoceras\nstegopelta\nstegosaurides\nstegosaurus\nstenonychosaurus\nstenopelix\nstenotholus\nstephanosaurus\nstereocephalus\nsterrholophus\nstokesosaurus\nstormbergia\nstrenusaurus\nstreptospondylus\nstruthiomimus\nstruthiosaurus\nstygimoloch\nstygivenator\nstyracosaurus\nsuccinodon\nsuchomimus\nsuchosaurus\nsuchoprion\nsugiyamasaurus\nskeleton\nsulaimanisaurus\nsupersaurus\nsuuwassea\nsuzhousaurus\nsymphyrophus\nsyngonosaurus\nsyntarsus\nsyrmosaurus\nszechuanosaurus\ntachiraptor\ntalarurus\ntalenkauen\ntalos\ntambatitanis\ntangvayosaurus\ntanius\ntanycolagreus\ntanystropheus\ntanystrosuchus\ntaohelong\ntapinocephalus\ntapuiasaurus\ntarascosaurus\ntarbosaurus\ntarchia\ntastavinsaurus\ntatankacephalus\ntatankaceratops\ntataouinea\ntatisaurus\ntaurovenator\ntaveirosaurus\ntawa\ntawasaurus\ntazoudasaurus\ntechnosaurus\ntecovasaurus\ntehuelchesaurus\nteihivenator\nteinurosaurus\nteleocrater\ntelmatosaurus\ntenantosaurus\ntenchisaurus\ntendaguria\ntengrisaurus\ntenontosaurus\nteratophoneus\nteratosaurus\ntermatosaurus\ntethyshadros\ntetragonosaurus\ntexacephale\ntexasetes\nteyuwasu\nthecocoelurus\nthecodontosaurus\nthecospondylus\ntheiophytalia\ntherizinosaurus\ntherosaurus\nthescelosaurus\nthespesius\nthotobolosaurus\ntianchisaurus\ntianchungosaurus\ntianyulong\ntianyuraptor\ntianzhenosaurus\ntichosteus\ntienshanosaurus\ntimimus\ntimurlengia\ntitanoceratops\ntitanosaurus\ntitanosaurus\ntochisaurus\ntomodon\ntonganosaurus\ntongtianlong\ntonouchisaurus\ntorilion\ntornieria\ntorosaurus\ntorvosaurus\ntototlmimus\ntrachodon\ntraukutitan\ntrialestes\ntriassolestes\ntribelesodon\ntriceratops\ntrigonosaurus\ntrimucrodon\ntrinisaura\ntriunfosaurus\ntroodon\ntsaagan\ntsagantegia\ntsintaosaurus\ntugulusaurus\ntuojiangosaurus\nturanoceratops\nturiasaurus\ntylocephale\ntylosteus\ntyrannosaurus\ntyrannotitan\nillustration\nuberabatitan\nudanoceratops\nugrosaurus\nugrunaaluk\nuintasaurus\nultrasauros\nultrasaurus\nultrasaurus\numarsaurus\nunaysaurus\nunenlagia\nunescoceratops\nunicerosaurus\nunquillosaurus\nurbacodon\nutahceratops\

In [ ]:
chars = sorted(chars)
print(chars)
print(len(chars))

['\n', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
27

In [ ]:
len_name = [len(name) for name in data.split("\n")]
len_name = np.array(len_name)
np.percentile(np.sort(len_name),98)

17.0

In [ ]:
names = [name for name in data.split("\n")]
names = np.array(names)

In [ ]:
tokenizer = Tokenizer(char_level=True)
tokenizer.fit_on_texts(names)

In [ ]:
tokenizer.get_config()

{'char_level': True,
 'document_count': 1536,
 'filters': '!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',
 'index_docs': '{"4": 1133, "5": 1225, "8": 712, "2": 1199, "1": 1374, "6": 830, "12": 479, "13": 482, "3": 1105, "15": 309, "21": 80, "17": 258, "10": 544, "18": 162, "7": 756, "9": 686, "11": 479, "20": 108, "16": 292, "14": 320, "25": 35, "23": 53, "19": 131, "24": 40, "22": 56, "26": 23}',
 'index_word': '{"1": "a", "2": "s", "3": "u", "4": "o", "5": "r", "6": "n", "7": "i", "8": "e", "9": "t", "10": "l", "11": "p", "12": "h", "13": "c", "14": "g", "15": "d", "16": "m", "17": "y", "18": "b", "19": "k", "20": "v", "21": "x", "22": "z", "23": "j", "24": "w", "25": "f", "26": "q"}',
 'lower': True,
 'num_words': None,
 'oov_token': None,
 'split': ' ',
 'word_counts': '{"a": 2487, "c": 539, "h": 548, "e": 913, "n": 1081, "o": 1710, "s": 2285, "u": 2123, "r": 1704, "d": 341, "y": 266, "x": 85, "b": 171, "l": 617, "i": 944, "t": 852, "p": 552, "v": 111, "m": 328, "g": 360, "f": 37, "j": 55, "k": 141, "w": 41, "z": 60, "q": 23}',
 'word_docs': '{"o": 1133, "r": 1225, "e": 712, "s": 1199, "a": 1374, "n": 830, "h": 479, "c": 482, "u": 1105, "d": 309, "x": 80, "y": 258, "l": 544, "b": 162, "i": 756, "t": 686, "p": 479, "v": 108, "m": 292, "g": 320, "f": 35, "j": 53, "k": 131, "w": 40, "z": 56, "q": 23}',
 'word_index': '{"a": 1, "s": 2, "u": 3, "o": 4, "r": 5, "n": 6, "i": 7, "e": 8, "t": 9, "l": 10, "p": 11, "h": 12, "c": 13, "g": 14, "d": 15, "m": 16, "y": 17, "b": 18, "k": 19, "v": 20, "x": 21, "z": 22, "j": 23, "w": 24, "f": 25, "q": 26}'}

In [ ]:
char_to_index = tokenizer.word_index
index_to_char = dict((v,k) for k,v in char_to_index.items())

In [ ]:
print(tokenizer.texts_to_sequences(["aachenosaurus"]))
print(tokenizer.sequences_to_texts([[2, 2, 15, 14, 10, 8, 6, 3, 2, 4, 5, 4, 3]]))

[[1, 1, 13, 12, 8, 6, 4, 2, 1, 3, 5, 3, 2]]
['s s d g l e n u s o r o u']

In [ ]:
def name_to_seq(name):
    return tokenizer.texts_to_sequences([name])[0]

In [ ]:
name_to_seq("asuo")

[1, 2, 3, 4]

In [ ]:
def seq_to_name(seq):
    return "".join([index_to_char[i] for i in seq if i!=0])

In [ ]:
seq_to_name([1, 1, 13, 12, 8, 6, 4, 2, 1, 3, 5, 3, 2])

'aachenosaurus'

In [ ]:
max_id = len(tokenizer.word_index) # number of distinct characters
dataset_size = tokenizer.document_count # total number of characters
print(max_id,dataset_size)

26 1536

In [ ]:
names_augmented = []
for name in names:
    name_seq = name_to_seq(name)
    if(len(name_seq)>=2):
        names_augmented += [name_seq[:i] for i in range(2,len(name_seq)+1)]

In [ ]:
names_augmented

In [ ]:
# seq = tokenizer.texts_to_sequences(names_augmented)
seq = pad_sequences(names_augmented)
# seq = [np.array(ele) for ele in seq]
# seq = np.array(seq, dtype = object)

In [ ]:
seq[0:10]

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  1,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  1,  1, 13],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  1, 13, 12],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  1,  1, 13, 12,  8],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  1, 13, 12,  8,  6],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  1,  1, 13, 12,  8,  6,  4],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  1,  1, 13, 12,  8,  6,  4,  2],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  1,  1, 13, 12,  8,  6,  4,  2,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         1,  1, 13, 12,  8,  6,  4,  2,  1,  3],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,
         1, 13, 12,  8,  6,  4,  2,  1,  3,  5]], dtype=int32)

In [ ]:
X = seq[:,:-1]
y = seq[:,-1]

In [ ]:
print(X.shape, y.shape)

(16838, 25) (16838,)

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X, y, train_size = 0.85)

In [ ]:
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(14312, 25) (14312,)
(2526, 25) (2526,)

In [ ]:
print(seq_to_name(x_train[520]))
print(seq_to_name([y_train[520]]))

compsos
u

In [ ]:
num_chars = len(char_to_index.keys())+1 # +1 is from zero-padding
max_len = len(x_train[0])
print(num_chars,max_len)

27 25

# Model

In [ ]:
model = Sequential([
                    Embedding(num_chars, 8, input_length = max_len),
                    # Conv1D(64,5, strides = 1, activation = "tanh", padding = "causal"),
                    # MaxPool1D(2),
                    GRU(64, return_sequences=True, dropout=0.2),
                    GRU(32, dropout=0.2),
                    Dense(num_chars, activation="softmax")
])

model.compile(
    loss = "sparse_categorical_crossentropy",
    optimizer = "adam",
    metrics = ["accuracy"]
)

model.summary()

# causal means that the output will depend on only the previous data.

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_9 (Embedding)     (None, 25, 8)             216

 gru_12 (GRU)                (None, 25, 64)            14208

 gru_13 (GRU)                (None, 32)                9408

 dense_9 (Dense)             (None, 27)                891

=================================================================
Total params: 24,723
Trainable params: 24,723
Non-trainable params: 0
_________________________________________________________________

In [ ]:
h = model.fit(
    x_train ,y_train,
    validation_data = (x_test,y_test),
    epochs = 50,
    verbose = 1,
    callbacks = [tf.keras.callbacks.EarlyStopping(monitor = "accuracy", patience = 3)]
)

In [ ]:
# less temperature, more reasonable sentence

def next_char(text, temperature=1):
    seq = name_to_seq(text)
    padded = pad_sequences([seq], maxlen = max_len)
    y_proba = model.predict(padded)[0]
    rescaled_logits = tf.math.log(y_proba) / temperature
    char_id = tf.random.categorical([rescaled_logits], num_samples=1)
    return tokenizer.sequences_to_texts(char_id.numpy())[0]

In [ ]:
def complete_text(text, n_chars=10, temperature=1):
    for _ in range(n_chars):
        text += next_char(text, temperature)
    return text

In [ ]:
complete_text("ice",9,0.75)

'iceratopsaur'